<script setup>
import { ref } from "vue";
import {useUserStore} from "../stores/user";

const email = ref ("");
const password = ref ("");

const userStore = useUserStore();
const register = () => {
userStore.register(email.value, password.value);


};

// eslint-disable-next-line no-unused-vars
function login(){
// eslint-disable-next-line no-unused-vars
var user, password
user = document.getElementById("usuario").value;
password = document.getElementById("contraseña").value;
if( user =="luistc"&& password =="12345"){
//
alert("BIENVENIDO")
}
if( user =="migan"&& password =="123"){
//
alert("BIENVENIDO")
}
if( user =="mariana"&& password =="12345"){
//
alert("BIENVENIDO")
}
if( user =="anchu"&& password =="123"){
//
alert("BIENVENIDO")
}
if( user =="angelzam"&& password =="angelito"){
alert("BIENVENIDO")
}
else{
alert("datos incorrectos")
}
}
guardar_localstorage();{
if (localStorage.getItem("persona")){
let persona = JSON.parse(localStorage.getItem("persona")) ;
let persona2 = JSON.parse(localStorage.getItem("persona2")) ;
let persona3 = JSON.parse(localStorage.getItem("persona3")) ;
let persona4 = JSON.parse(localStorage.getItem("persona4")) ;
let persona5 = JSON.parse(localStorage.getItem("persona5")) ;
console.log (persona);
console.log (persona2);
console.log (persona3);
console.log (persona4);
console.log (persona5);
}
}
function guardar_localstorage(){
let persona = {
nombre:"luis tuarez",
cedula: 1316286291,
correo:" tuarezluis62@gmail.com",
usuario: "luistc",
contraseña: "12345",
};
let persona2 = {
nombre:"miguel sanchez",
cedula: 1313452156,
correo:" miguelin@gmail.com",
usuario: "migan",
contraseña: "123",
};
let persona3 = {
nombre:"mariana pilligua",
cedula: 1303475321,
correo:" maripp@gmail.com",
usuario: "mariana",
contraseña: "12345",
};
let persona4 = {
nombre:"anchundia jail",
cedula: 1312345673,
correo:" jail@gmail.com",
usuario: "anchu",
contraseña: "123",
};
let persona5 = {
nombre:"angel zambrano",
cedula: 1308947653,
correo:" angelzambrano23@gmail.com",
usuario: "angelzam",
contraseña: "angelito",
};
localStorage.setItem("usuario 1",JSON.stringify(persona));
localStorage.setItem("usuario 2",JSON.stringify(persona2));
localStorage.setItem("usuario 3",JSON.stringify(persona3));
localStorage.setItem("usuario 4",JSON.stringify(persona4));
localStorage.setItem("usuario 5",JSON.stringify(persona5));
};
</script>

<template>
  <div class="containerprincipal">
<h1>Biblioteca Uleam</h1>
<div class="form-group">
  <form @submit.prevent="register">
<input id="usuario" type="text" class="form-control" name="username"
placeholder="usuario" v-model="email">
<input id="contraseña" type="password" class="form-control"
name="password" placeholder="contraseña" v-model="password">
<br>
<button id="boton" class="boton" type="submit">Inicia sesion</button>
</form>
</div>
</div>
</template>

<style>

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.containerprincipal{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
background-image: linear-gradient(0deg, rgba(255, 255, 255,
0.8),rgba(0,0,0,0.8)),url(./assets/fondobibliotecalogin.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
gap: 60px ;
}
input{
outline: 0;
background-color: rgb(203, 217, 230);
width: 100%;
border: 0;
margin: 0 0 15px;
padding: 15px;
box-sizing: border-box;
font-size: 14px;
}
.boton{
font-family: sans-serif;
text-transform: uppercase;
outline: 0;
background-color: #36cbc6;
width: 100%;
border: 0;
padding: 15px;
color: aliceblue;
font-size: 14px;
-webkit-transition: all 0.3 ease;
transition: all 0.3 ease;
cursor: pointer;
}
.form-group{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
z-index: 1;
background-color: aliceblue;
max-width: 360px;
padding: 45px;
text-align: center;
box-shadow: 0 0 20px rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
}
</style>
